@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

* {
	box-sizing: border-box;
}
body {

	background-color: #E9E6DF;
	max-width: 650px;
	margin: 0 auto;	
	
}

h1, h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	font-size: 38px;
	line-height: 1;
	letter-spacing: -0.0625rem;
	text-align: center;
	
}

h2 {

    font-size: 30px;

}


hr { 


	width:650px;
	margin-top: 20px;
}


img {
	max-width: 100vw;
	margin: 0 auto;
	display: block;
}


h3{
	
	text-align: center;
	text-transform: uppercase;
	margin-top: 1.5rem;
	font-family: 'IBM Plex Serif', serif;
	color:#262d7e;
	font-size: 19px;
	font-weight: 700;
}

 .content p  {


	text-align: left;
	margin: 0 auto;
	width: 650px;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.3;
	font-size: 16px;


}

.special_offer h2 {

	color: #bc0000;
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	text-align: center;

	/* margin-bottom:20px; */
	


}

.special_offer p{

	font-size: 12px;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.5;
}


/* .special_offer h2 {
	color: #bc0000;
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 16pt;
	text-align: center;
	line-height: 1.1;
	margin-bottom:20px;
	width: 650px;

}

.special_offer p {
	 
	font-size: 16pt;
	line-height: 1.5;
	margin: 0;
	text-align: justify;
	width: 650px;
	font-family: 'Times New Roman', Times, serif;

	
} */



.special_offer {

	

	margin-top:20px;
	margin-bottom: 80px;


}